@charset "UTF-8";

    body{
       background-color: #FBFFFD;        
    }

    table{
        width: 500px;        
        border-collapse: collapse;   
        font-family: Arial, Helvetica, sans-serif;                   
    }        

    thead, tfoot{
        background-color: #D3D7D9;       
    }

    th, td{
        border: 1px solid black;
                   
    }

    tbody{
        border: 1px solid black;        
        text-align: center;
        background-color: #F5F9F9;        
    }   

    .alinhamento_left{
        text-align: left;
    }

    .alinhamento_right{
        text-align: right;
    }
   

